.App {
  /* text-align: center;
  justify-content: space-between; */
  background-color: black;
  color: azure;
  /* font-size: 30px;
  padding-top: 2px;
  padding: 5px; */
  font-family: sans-serif;

}
Routes{
  padding: 3px;
}

